body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

text {
  color: brown;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
}
.extra-container {
  display: flex;
  align-items: center;
}
/* ------header---------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
}
.header-logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
}
.header-logo-studio {
  color: #2e2f42;
}

.hover-button:hover {
  color: #404bbf;
}
.hover-button:focus {
  color: #404bbf;
}

.header-menu-options:first-child:hover {
  color: #404bbf;
}
.header-menu-options:first-child:focus {
  color: #404bbf;
}
.header-menu-options {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  align-items: center;
  gap: 40px;
  margin-right: 0;
  padding: 24px 0;
}
.trea-options-menu {
  display: flex;
}
.address-class {
  font-style: normal;
  margin-left: auto;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.wrap-one {
  display: flex;
  gap: 40px;
}
.contact-details {
  font-family: rototo;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  margin-left: auto;
}
.contact-details:first-child:focus {
  color: #404bbf;
}
.contact-details:first-child:hover {
  color: #404bbf;
}
/* -------- section 1 -----------*/
.order-message {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  background-color: #4d5ae5;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.text-solution {
  font-family: roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  color: #ffffff;
  align-self: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}
.hover-button .button {
  cursor: pointer;
  background-color: #4d5ae5;
}
.hover-button:hover .button {
  background-color: #404bbf;
  border-radius: 10%;
}
.hover-button:focus .button {
  background-color: #404bbf;
  border-radius: 10%;
}
/* ------- section 2 -------- */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrap {
  display: flex;
  gap: 24px;
}
.li-for-first-element {
  width: calc((100% - 72px) / 4);
}
.section-first-header {
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-fist-description {
  font-family: roboto;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* -------setion 3  ------- */
.our-team {
  margin-top: 120px;
  margin-bottom: 72px;
  padding-top: 120px;
  padding-bottom: 120px;
  width: calc((100% - 72px) / 4);
}
.section-three {
  justify-content: space-evenly;
  padding: 120px 0;
  background-color: #f4f4fd;
}
.section-futures {
  padding-top: 120px;
  padding-bottom: 120px;
}
.li-for-first-element {
  display: flex;
  justify-content: space-evenly;
  padding: 120px 0;
}
.wrap {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}
.our-team-section {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.emplyee {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-second-header {
  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  background-color: #f4f4fd;
  margin-bottom: 72px;
}
.card-content-name {
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 8px;
}
.card-content-profesion {
  font-family: roboto;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  gap: 24px;
}
.picture {
  display: block;
}
/* --------section 4--------- */
.section-four-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  padding: 32px 16px;
  border-top: none;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.portfolio-wrap {
  border: 1px solid #e7e9fc;
  padding: 32px 16p;
}
.list-our-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-wrap {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
  padding: 32px 16px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.li-our-portfolio {
  width: calc((100% - 48px) / 3);
}

.section-four-mokeup-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.card-content-profesion {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 24px;
  align-items: left;
}

/* ---------footeR------------ */
.footer-section {
  font-family: raleway;
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
}
.footer-descripton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
